$main_bg:          #CCDAF5;
$main_fg:          #0C1732;

$element_fg:       #0C1732;
$element_bg:       #FFFFFF;
$element_bg_hover: #f7faff;
$element_border:   #0C1732;

$primary_bg:       #346AD5;
$primary_bg_hover: #1F4898;
$primary_fg:       #E6EDFA;
$primary_border:   #0C1732;

$hilight_bg:       #E07F29;
$hilight_bg_hover: #A05718;
$hilight_fg:       #FDF7F2;
$hilight_boder:    #110903;